<!-- INCLUDE ucp_header.html -->

<h2>{L_MP_MYPAGE} - {L_MP_ADD_PAGE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

<h3>{L_MP_ADD_PAGE}</h3>

<form id="mypage" method="post" action="{BASIC_REDIRECT}">

	<fieldset>
		<dl>
			<dt><label for="title">{L_MP_PAGE_TITLE}:</label></dt>
			<dd><input type="text" name="title" id="title" maxlength="255" value="" class="inputbox" /></dd>
		</dl>
	</fieldset>
	
	<br />

	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	<input type="submit" name="submit" value="Submit" class="button1" />
</fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->