#
# Uncomment the statement below if you want to make use of
# HTTP authentication and it does not already work.
# This could be required if you are for example using PHP via Apache CGI.
#
#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
#</IfModule>

DirectoryIndex index.php portal.php index.html index.htm

<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

<Files "common.php">
Order Allow,Deny
Deny from All
</Files>

RewriteEngine on

Rewriterule ^blog/(.+)/(.+).html$		./blog/view/blog.php?page=$1&mode=$2
Rewriterule ^blog/(.+).html$			./blog/blog.php?page=$1
Rewriterule ^blog/(.+)/$			./blog/view/blog.php?page=$1
Rewriterule ^blog/$				./blog/blog.php

#RewriteCond %{HTTP_HOST} ^karlson\-bl\.com$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.karlson\-bl\.com$
#RewriteRule ^/?$ "http\:\/\/karlson\-bl\.tk" [R=301,L]

