<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2">{L_MP_MYPAGE} - {L_MP_ADD_PAGE}</th>
</tr>

<tr>
	<td class="row2" colspan="2"><strong>{L_MP_ADD_PAGE}</strong></td>
</tr>

<tr>
	<td class="row1">{L_MP_PAGE_TITLE}:</td>
	<td class="row1"><input type="text" name="title" id="title" maxlength="255" value="" class="inputbox" /></td>
</tr>

<tr>
	<td class="row2" colspan="4" align="center"><input type="submit" name="submit" value="{L_SUBMIT}" class="button1" /></td>
</tr>

</table>

<!-- INCLUDE ucp_footer.html -->