<div class="navbar">
			<ul class="linklist">

				<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
				   <li style="float: right;"><a href="{U_MARK_FORUMS}" title="Отметить все сообщения, как прочтенные">{L_MARK_FORUMS_READ}</a></li>
				<!-- ENDIF -->
				<li class="icon-home">&nbsp;<a href="http://karlson-bl.in" title="на главную страницу портала">Главная страница</a> &nbsp;<a href="{U_INDEX}" accesskey="h" title="Список всех форумов">{L_INDEX}</a> 
				<!-- BEGIN navlinks --> 
				  <strong>&#8249;</strong> <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a>
				<!-- END navlinks --></li>
			
				<li style="clear:both;"></li>
			</ul>
		</div>